*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(netflixbg.jpg);
    background-attachment: fixed; 
}

.button {
    margin-right: 40px;
    margin-top: 20px;
    float: right;
    background-color: red;
    position: right;
    color: white;
    border:none;
    border :10;
    border-radius: 7%;
    padding: 10px 16px;
}